n8n/workflow12-ae-list-sync-webhook.json
{"updatedAt":"2026-06-18T20:17:52.035Z","createdAt":"2026-06-18T14:22:34.634Z","id":"egVU4H9cIHWsKJ2n","name":"PDM Workflow 12 — AE List Membership Sync (On-Demand)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ae-list-sync","responseMode":"responseNode","options":{}},"id":"wf12-node-001","name":"Webhook","type":"n8n-nodes-base.webhook","position":[208,400],"typeVersion":2,"webhookId":"ae-list-sync"},{"parameters":{"method":"POST","url":"https://progressivedental.my.salesforce.com/services/oauth2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"3MVG9Xl3BC6VHB.Zkon6fA2vOM6YpPqEaoVYiRVrc4X6UirrgbywcB634XxHLklsiS5O8jvjUVtEX0HAQLR26"},{"name":"client_secret","value":"E421A7ECE2CD5BE44E4CAB3C5BF76349DA8082086116642FF481C5FC8B6D6C1C"}]},"options":{}},"id":"wf12-node-002","name":"Get SF OAuth Token","type":"n8n-nodes-base.httpRequest","position":[448,400],"typeVersion":4.2},{"parameters":{"jsCode":"// Determine which lists to sync\nconst token = $('Get SF OAuth Token').first().json.access_token;\nconst body  = $('Webhook').first().json.body || {};\nconst listId   = body.list_id   || null;\nconst listName = body.list_name || null;\nconst mode     = body.mode      || 'memberships_only';\n\nreturn [{ json: { token, listId, listName, mode, startedAt: new Date().toISOString() } }];"},"id":"wf12-node-003","name":"Parse Request","type":"n8n-nodes-base.code","position":[688,400],"typeVersion":2},{"parameters":{"url":"=https://progressivedental.my.salesforce.com/services/data/v62.0/query?q=SELECT+AE_List_ID__c,Name+FROM+AE_List__c+WHERE+Active__c+=+true+ORDER+BY+Name+LIMIT+2000","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Parse Request').first().json.token }}"}]},"options":{}},"id":"wf12-node-004","name":"Get All Active Lists from SF","type":"n8n-nodes-base.httpRequest","position":[928,512],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Parse Request').first().json.listId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"wf12-node-005","name":"Specific List or All?","type":"n8n-nodes-base.if","position":[928,304],"typeVersion":2},{"parameters":{"jsCode":"// Route: specific list_id provided — build single-item array\nconst req = $('Parse Request').first().json;\nreturn [{ json: { AE_List_ID__c: String(req.listId), Name: String(req.listId), token: req.token } }];"},"id":"wf12-node-006","name":"Single List","type":"n8n-nodes-base.code","position":[1168,208],"typeVersion":2},{"parameters":{"jsCode":"// Route: all lists — expand SF records into individual items\nconst token  = $('Parse Request').first().json.token;\nconst records = $('Get All Active Lists from SF').first().json.records || [];\nreturn records.map(r => ({ json: { AE_List_ID__c: r.AE_List_ID__c, Name: r.Name, token } }));"},"id":"n8n-node-007","name":"Expand All Lists","type":"n8n-nodes-base.code","position":[1168,560],"typeVersion":2},{"parameters":{"options":{}},"id":"wf12-node-009","name":"Loop Over Lists","type":"n8n-nodes-base.splitInBatches","position":[1600,384],"typeVersion":3},{"parameters":{"url":"=https://pi.pardot.com/api/v5/objects/list-memberships?fields=id,listId,prospectId,optedOut,createdAt,updatedAt,prospect.salesforceId,prospect.email&listId={{ $('Parse Request').first().json.listId }}&limit=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Parse Request').first().json.token }}"},{"name":"Pardot-Business-Unit-Id","value":"0UvHp000000CavpKAC"}]},"options":{}},"id":"wf12-node-010","name":"Get Pardot Memberships (Page 1)","type":"n8n-nodes-base.httpRequest","position":[1840,288],"typeVersion":4.2},{"parameters":{"jsCode":"const token  = $('Parse Request').first().json.token;\nconst listId = $('Parse Request').first().json.listId;\n// Filter out members with null prospectId (Pardot data quality issue)\nconst members = ($input.first().json.values || []).filter(m => m.prospectId != null);\n\nconst records = members.map(m => {\n  const sfId = (m.prospect && m.prospect.salesforceId) || null;\n  const rec = {\n    attributes:           { type: 'AE_List_Membership__c' },\n    Membership_Key__c:    `${m.listId}-${m.prospectId}`,\n    AE_Prospect_ID__c:    String(m.prospectId),\n    'AE_List__r':         { AE_List_ID__c: String(m.listId) },\n    Active_Membership__c: !m.optedOut,\n    Date_Added__c:        m.createdAt ? m.createdAt.split('T')[0] : null,\n  };\n  if (sfId && sfId.startsWith('003')) rec.Contact__c = sfId;\n  else if (sfId && sfId.startsWith('00Q')) rec.Lead__c = sfId;\n  return rec;\n});\n\nconst linked   = records.filter(r => r.Contact__c || r.Lead__c).length;\nconst unlinked = records.length - linked;\nreturn [{ json: { listId, token, records, count: records.length, linked, unlinked } }];"},"id":"wf12-node-011","name":"Paginate + Enrich Memberships","type":"n8n-nodes-base.code","position":[2080,280],"typeVersion":2},{"parameters":{"method":"PATCH","url":"https://progressivedental.my.salesforce.com/services/data/v62.0/composite/sobjects/AE_List_Membership__c/Membership_Key__c","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ allOrNone: false, records: $json.records }) }}","options":{}},"id":"wf12-node-012","name":"Upsert to Salesforce","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,280]},{"parameters":{"jsCode":"// SF Composite API returns array; n8n HTTP Request splits into N items\nconst items = $input.all().map(i => i.json);\nconst sfResults = items.filter(r => r && ('success' in r));\nconst inserted = sfResults.filter(r => r.success === true  && r.created === true).length;\nconst updated  = sfResults.filter(r => r.success === true  && r.created === false).length;\nconst errors   = sfResults.filter(r => r.success === false).length;\nconst listId   = $('Parse Request').first().json.listId || 'all';\nreturn [{ json: { listId, inserted, updated, errors, total: sfResults.length, completedAt: new Date().toISOString() } }];"},"id":"wf12-node-013","name":"Aggregate Results","type":"n8n-nodes-base.code","position":[2560,380],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"wf12-node-014","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[2800,380],"typeVersion":1.1}],"connections":{"Webhook":{"main":[[{"node":"Get SF OAuth Token","type":"main","index":0}]]},"Get SF OAuth Token":{"main":[[{"node":"Parse Request","type":"main","index":0}]]},"Parse Request":{"main":[[{"node":"Specific List or All?","type":"main","index":0}]]},"Specific List or All?":{"main":[[{"node":"Get Pardot Memberships (Page 1)","type":"main","index":0}],[{"node":"Aggregate Results","type":"main","index":0}]]},"Get Pardot Memberships (Page 1)":{"main":[[{"node":"Paginate + Enrich Memberships","type":"main","index":0}]]},"Paginate + Enrich Memberships":{"main":[[{"node":"Upsert to Salesforce","type":"main","index":0}]]},"Upsert to Salesforce":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]},"Aggregate Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":{"global":{"syncResults":[{"listId":"47356","inserted":0,"updated":0,"errors":104,"total":104,"debug":"fetch is not defined in this sandbox"}]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"2e419a50-5af1-41dc-b9e9-d078ebbfc219","activeVersionId":"2e419a50-5af1-41dc-b9e9-d078ebbfc219","versionCounter":17,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-18T14:22:34.638Z","createdAt":"2026-06-18T14:22:34.638Z","role":"workflow:owner","workflowId":"egVU4H9cIHWsKJ2n","projectId":"SoZjYODMSKhmduKD","project":{"updatedAt":"2026-03-13T12:07:32.605Z","createdAt":"2026-03-13T12:07:26.021Z","id":"SoZjYODMSKhmduKD","name":"William Summers <william@progressivedental.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-18T20:17:52.036Z","createdAt":"2026-06-18T20:17:52.036Z","versionId":"2e419a50-5af1-41dc-b9e9-d078ebbfc219","workflowId":"egVU4H9cIHWsKJ2n","nodes":[{"parameters":{"httpMethod":"POST","path":"ae-list-sync","responseMode":"responseNode","options":{}},"id":"wf12-node-001","name":"Webhook","type":"n8n-nodes-base.webhook","position":[208,400],"typeVersion":2,"webhookId":"ae-list-sync"},{"parameters":{"method":"POST","url":"https://progressivedental.my.salesforce.com/services/oauth2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"3MVG9Xl3BC6VHB.Zkon6fA2vOM6YpPqEaoVYiRVrc4X6UirrgbywcB634XxHLklsiS5O8jvjUVtEX0HAQLR26"},{"name":"client_secret","value":"E421A7ECE2CD5BE44E4CAB3C5BF76349DA8082086116642FF481C5FC8B6D6C1C"}]},"options":{}},"id":"wf12-node-002","name":"Get SF OAuth Token","type":"n8n-nodes-base.httpRequest","position":[448,400],"typeVersion":4.2},{"parameters":{"jsCode":"// Determine which lists to sync\nconst token = $('Get SF OAuth Token').first().json.access_token;\nconst body  = $('Webhook').first().json.body || {};\nconst listId   = body.list_id   || null;\nconst listName = body.list_name || null;\nconst mode     = body.mode      || 'memberships_only';\n\nreturn [{ json: { token, listId, listName, mode, startedAt: new Date().toISOString() } }];"},"id":"wf12-node-003","name":"Parse Request","type":"n8n-nodes-base.code","position":[688,400],"typeVersion":2},{"parameters":{"url":"=https://progressivedental.my.salesforce.com/services/data/v62.0/query?q=SELECT+AE_List_ID__c,Name+FROM+AE_List__c+WHERE+Active__c+=+true+ORDER+BY+Name+LIMIT+2000","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Parse Request').first().json.token }}"}]},"options":{}},"id":"wf12-node-004","name":"Get All Active Lists from SF","type":"n8n-nodes-base.httpRequest","position":[928,512],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Parse Request').first().json.listId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"wf12-node-005","name":"Specific List or All?","type":"n8n-nodes-base.if","position":[928,304],"typeVersion":2},{"parameters":{"jsCode":"// Route: specific list_id provided — build single-item array\nconst req = $('Parse Request').first().json;\nreturn [{ json: { AE_List_ID__c: String(req.listId), Name: String(req.listId), token: req.token } }];"},"id":"wf12-node-006","name":"Single List","type":"n8n-nodes-base.code","position":[1168,208],"typeVersion":2},{"parameters":{"jsCode":"// Route: all lists — expand SF records into individual items\nconst token  = $('Parse Request').first().json.token;\nconst records = $('Get All Active Lists from SF').first().json.records || [];\nreturn records.map(r => ({ json: { AE_List_ID__c: r.AE_List_ID__c, Name: r.Name, token } }));"},"id":"n8n-node-007","name":"Expand All Lists","type":"n8n-nodes-base.code","position":[1168,560],"typeVersion":2},{"parameters":{"options":{}},"id":"wf12-node-009","name":"Loop Over Lists","type":"n8n-nodes-base.splitInBatches","position":[1600,384],"typeVersion":3},{"parameters":{"url":"=https://pi.pardot.com/api/v5/objects/list-memberships?fields=id,listId,prospectId,optedOut,createdAt,updatedAt,prospect.salesforceId,prospect.email&listId={{ $('Parse Request').first().json.listId }}&limit=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Parse Request').first().json.token }}"},{"name":"Pardot-Business-Unit-Id","value":"0UvHp000000CavpKAC"}]},"options":{}},"id":"wf12-node-010","name":"Get Pardot Memberships (Page 1)","type":"n8n-nodes-base.httpRequest","position":[1840,288],"typeVersion":4.2},{"parameters":{"jsCode":"const token  = $('Parse Request').first().json.token;\nconst listId = $('Parse Request').first().json.listId;\n// Filter out members with null prospectId (Pardot data quality issue)\nconst members = ($input.first().json.values || []).filter(m => m.prospectId != null);\n\nconst records = members.map(m => {\n  const sfId = (m.prospect && m.prospect.salesforceId) || null;\n  const rec = {\n    attributes:           { type: 'AE_List_Membership__c' },\n    Membership_Key__c:    `${m.listId}-${m.prospectId}`,\n    AE_Prospect_ID__c:    String(m.prospectId),\n    'AE_List__r':         { AE_List_ID__c: String(m.listId) },\n    Active_Membership__c: !m.optedOut,\n    Date_Added__c:        m.createdAt ? m.createdAt.split('T')[0] : null,\n  };\n  if (sfId && sfId.startsWith('003')) rec.Contact__c = sfId;\n  else if (sfId && sfId.startsWith('00Q')) rec.Lead__c = sfId;\n  return rec;\n});\n\nconst linked   = records.filter(r => r.Contact__c || r.Lead__c).length;\nconst unlinked = records.length - linked;\nreturn [{ json: { listId, token, records, count: records.length, linked, unlinked } }];"},"id":"wf12-node-011","name":"Paginate + Enrich Memberships","type":"n8n-nodes-base.code","position":[2080,280],"typeVersion":2},{"parameters":{"method":"PATCH","url":"https://progressivedental.my.salesforce.com/services/data/v62.0/composite/sobjects/AE_List_Membership__c/Membership_Key__c","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ allOrNone: false, records: $json.records }) }}","options":{}},"id":"wf12-node-012","name":"Upsert to Salesforce","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,280]},{"parameters":{"jsCode":"// SF Composite API returns array; n8n HTTP Request splits into N items\nconst items = $input.all().map(i => i.json);\nconst sfResults = items.filter(r => r && ('success' in r));\nconst inserted = sfResults.filter(r => r.success === true  && r.created === true).length;\nconst updated  = sfResults.filter(r => r.success === true  && r.created === false).length;\nconst errors   = sfResults.filter(r => r.success === false).length;\nconst listId   = $('Parse Request').first().json.listId || 'all';\nreturn [{ json: { listId, inserted, updated, errors, total: sfResults.length, completedAt: new Date().toISOString() } }];"},"id":"wf12-node-013","name":"Aggregate Results","type":"n8n-nodes-base.code","position":[2560,380],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"wf12-node-014","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[2800,380],"typeVersion":1.1}],"connections":{"Webhook":{"main":[[{"node":"Get SF OAuth Token","type":"main","index":0}]]},"Get SF OAuth Token":{"main":[[{"node":"Parse Request","type":"main","index":0}]]},"Parse Request":{"main":[[{"node":"Specific List or All?","type":"main","index":0}]]},"Specific List or All?":{"main":[[{"node":"Get Pardot Memberships (Page 1)","type":"main","index":0}],[{"node":"Aggregate Results","type":"main","index":0}]]},"Get Pardot Memberships (Page 1)":{"main":[[{"node":"Paginate + Enrich Memberships","type":"main","index":0}]]},"Paginate + Enrich Memberships":{"main":[[{"node":"Upsert to Salesforce","type":"main","index":0}]]},"Upsert to Salesforce":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]},"Aggregate Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"nodeGroups":[],"authors":"William Summers","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-18T20:17:52.266Z","id":108,"workflowId":"egVU4H9cIHWsKJ2n","versionId":"2e419a50-5af1-41dc-b9e9-d078ebbfc219","event":"activated","userId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"},{"createdAt":"2026-06-18T20:17:52.196Z","id":107,"workflowId":"egVU4H9cIHWsKJ2n","versionId":"2e419a50-5af1-41dc-b9e9-d078ebbfc219","event":"deactivated","userId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"}]}}