n8n/workflow13-ae-list-watcher.json
{"updatedAt":"2026-06-18T19:57:22.024Z","createdAt":"2026-06-18T14:23:50.619Z","id":"pcWOtUpgMepSGr4z","name":"PDM — AE List Watcher (15-Min Poller)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"wf13-node-001","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","position":[200,400],"typeVersion":1.2},{"parameters":{"method":"POST","url":"https://progressivedental.my.salesforce.com/services/oauth2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"3MVG9Xl3BC6VHB.Zkon6fA2vOM6YpPqEaoVYiRVrc4X6UirrgbywcB634XxHLklsiS5O8jvjUVtEX0HAQLR26"},{"name":"client_secret","value":"E421A7ECE2CD5BE44E4CAB3C5BF76349DA8082086116642FF481C5FC8B6D6C1C"}]}},"id":"wf13-node-002","name":"Get SF OAuth Token","type":"n8n-nodes-base.httpRequest","position":[440,400],"typeVersion":4.2},{"parameters":{"jsCode":"// Get or initialize lastRunAt from static data\nconst staticData = $getWorkflowStaticData('global');\nconst token = $('Get SF OAuth Token').first().json.access_token;\n\nconst now = new Date();\nconst twentyMinAgo = new Date(now.getTime() - 20 * 60 * 1000).toISOString();\nconst lastRunAt = staticData.lastRunAt || twentyMinAgo;\nconst lastRunPardot = lastRunAt.replace(/\\.\\d{3}Z$/, 'Z');\nstaticData.lastRunAt = now.toISOString();\n\nreturn [{ json: { token, lastRunAt: lastRunPardot, now: now.toISOString() } }];"},"id":"wf13-node-003","name":"Get Last Run Time","type":"n8n-nodes-base.code","position":[680,400],"typeVersion":2},{"parameters":{"method":"GET","url":"=https://pi.pardot.com/api/v5/objects/lists?fields=id,name,isDeleted,isDynamic,createdAt,updatedAt&createdAfter={{ encodeURIComponent($json.lastRunAt) }}&limit=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Pardot-Business-Unit-Id","value":"0UvHp000000CavpKAC"}]}},"id":"wf13-node-004","name":"Get New Pardot Lists","type":"n8n-nodes-base.httpRequest","position":[920,260],"typeVersion":4.2},{"parameters":{"method":"GET","url":"=https://pi.pardot.com/api/v5/objects/list-memberships?fields=id,listId,prospectId,optedOut,createdAt,updatedAt&updatedAfter={{ encodeURIComponent($('Get Last Run Time').first().json.lastRunAt) }}&limit=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Last Run Time').first().json.token }}"},{"name":"Pardot-Business-Unit-Id","value":"0UvHp000000CavpKAC"}]}},"id":"wf13-node-005","name":"Get Changed Memberships","type":"n8n-nodes-base.httpRequest","position":[920,540],"typeVersion":4.2},{"parameters":{"jsCode":"const token = $('Get Last Run Time').first().json.token;\nconst newLists = ($('Get New Pardot Lists').first().json.values || []);\nconst now = new Date().toISOString();\n\nif (!newLists.length) {\n  return [{ json: { newListsFound: 0, newListIds: [], records: [] } }];\n}\n\nconst records = newLists.map(l => ({\n  attributes: { type: 'AE_List__c' },\n  AE_List_ID__c: String(l.id),\n  Name: l.name.substring(0, 80),\n  Active__c: !l.isDeleted,\n  Dynamic__c: !!l.isDynamic,\n  Last_Sync__c: now\n}));\n\nreturn [{ json: { token, newListsFound: newLists.length, newListIds: newLists.map(l => String(l.id)), records } }];"},"id":"wf13-node-006","name":"Upsert New Lists to SF","type":"n8n-nodes-base.code","position":[1160,260],"typeVersion":2},{"parameters":{"jsCode":"const changed = ($('Get Changed Memberships').first().json.values || []);\nconst listIds = [...new Set(changed.map(m => m.listId))];\nreturn [{ json: { changedListCount: changed.length, affectedListIds: listIds } }];"},"id":"wf13-node-007","name":"Extract Changed List IDs","type":"n8n-nodes-base.code","position":[1160,540],"typeVersion":2},{"parameters":{"jsCode":"// Collect new list IDs from Code node (still accessible by name)\nconst newListIds = $('Upsert New Lists to SF').first().json.newListIds || [];\nconst changedListIds = $('Extract Changed List IDs').first().json.affectedListIds || [];\nconst allListIds = [...new Set([...newListIds.map(String), ...changedListIds.map(String)])];\nconst token = $('Get Last Run Time').first().json.token;\n\nif (!allListIds.length) {\n  return [{ json: { skipped: true, reason: 'No list changes detected', listsToSync: 0 } }];\n}\n\nreturn allListIds.map(id => ({ json: { listId: id, token } }));"},"id":"wf13-node-008","name":"Build Lists to Sync","type":"n8n-nodes-base.code","position":[1400,400],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.skipped }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}]}},"id":"wf13-node-009","name":"Any Changes?","type":"n8n-nodes-base.if","position":[1640,400],"typeVersion":2},{"parameters":{"method":"POST","url":"https://pdm2026.app.n8n.cloud/webhook/ae-list-sync","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ list_id: $json.listId }) }}","options":{"timeout":120000}},"id":"wf13-node-010","name":"Trigger Membership Sync","type":"n8n-nodes-base.httpRequest","position":[1880,300],"typeVersion":4.2},{"parameters":{"jsCode":"const results = $input.all().map(i => i.json);\nconst totalInserted = results.reduce((s, r) => s + (r.inserted || 0), 0);\nconst totalUpdated = results.reduce((s, r) => s + (r.updated || 0), 0);\nconst totalErrors = results.reduce((s, r) => s + (r.errors || 0), 0);\nconst listsCount = results.length;\n\nconst msg = [\n  `🔄 *AE List Watcher — Sync Complete*`,\n  `${listsCount} list${listsCount !== 1 ? 's' : ''} synced | ${totalInserted} new memberships | ${totalUpdated} updated | ${totalErrors} errors`,\n  `_Run at ${new Date().toLocaleTimeString('en-US', { timeZone: 'America/New_York' })} ET_`\n].join('\\n');\n\nreturn [{ json: { message: msg } }];"},"id":"wf13-node-011","name":"Build Chat Summary","type":"n8n-nodes-base.code","position":[2120,300],"typeVersion":2},{"parameters":{"method":"POST","url":"https://chat.googleapis.com/v1/spaces/AAQA-eBqDOw/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=EiYWubwUjgBkP4KaRe3cD3rO9o9UsYcvM-8VbVpgL70","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ text: $json.message }) }}","options":{}},"id":"wf13-node-012","name":"Notify Google Chat","type":"n8n-nodes-base.httpRequest","position":[2360,300],"typeVersion":4.2},{"parameters":{"method":"PATCH","url":"https://progressivedental.my.salesforce.com/services/data/v62.0/composite/sobjects/AE_List__c/AE_List_ID__c","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ allOrNone: false, records: $json.records }) }}","options":{}},"id":"wf13-node-013","name":"Upsert New Lists HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,260]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get SF OAuth Token","type":"main","index":0}]]},"Get SF OAuth Token":{"main":[[{"node":"Get Last Run Time","type":"main","index":0}]]},"Get Last Run Time":{"main":[[{"node":"Get New Pardot Lists","type":"main","index":0},{"node":"Get Changed Memberships","type":"main","index":0}]]},"Get New Pardot Lists":{"main":[[{"node":"Upsert New Lists to SF","type":"main","index":0}]]},"Get Changed Memberships":{"main":[[{"node":"Extract Changed List IDs","type":"main","index":0}]]},"Upsert New Lists to SF":{"main":[[{"node":"Upsert New Lists HTTP","type":"main","index":0}]]},"Extract Changed List IDs":{"main":[[{"node":"Build Lists to Sync","type":"main","index":0}]]},"Build Lists to Sync":{"main":[[{"node":"Any Changes?","type":"main","index":0}]]},"Any Changes?":{"main":[[{"node":"Trigger Membership Sync","type":"main","index":0}],[]]},"Trigger Membership Sync":{"main":[[{"node":"Build Chat Summary","type":"main","index":0}]]},"Build Chat Summary":{"main":[[{"node":"Notify Google Chat","type":"main","index":0}]]},"Upsert New Lists HTTP":{"main":[[{"node":"Build Lists to Sync","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every 15 Minutes":{"recurrenceRules":[]},"global":{"lastRunAt":"2026-06-18T20:00:48.915Z"}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":null,"versionId":"1c922195-091a-42a2-9c09-2f997fb4e468","activeVersionId":"1c922195-091a-42a2-9c09-2f997fb4e468","versionCounter":2,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-18T14:23:50.621Z","createdAt":"2026-06-18T14:23:50.621Z","role":"workflow:owner","workflowId":"pcWOtUpgMepSGr4z","projectId":"SoZjYODMSKhmduKD","project":{"updatedAt":"2026-03-13T12:07:32.605Z","createdAt":"2026-03-13T12:07:26.021Z","id":"SoZjYODMSKhmduKD","name":"William Summers <william@progressivedental.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-18T19:57:22.029Z","createdAt":"2026-06-18T19:57:22.029Z","versionId":"1c922195-091a-42a2-9c09-2f997fb4e468","workflowId":"pcWOtUpgMepSGr4z","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"wf13-node-001","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","position":[200,400],"typeVersion":1.2},{"parameters":{"method":"POST","url":"https://progressivedental.my.salesforce.com/services/oauth2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"3MVG9Xl3BC6VHB.Zkon6fA2vOM6YpPqEaoVYiRVrc4X6UirrgbywcB634XxHLklsiS5O8jvjUVtEX0HAQLR26"},{"name":"client_secret","value":"E421A7ECE2CD5BE44E4CAB3C5BF76349DA8082086116642FF481C5FC8B6D6C1C"}]}},"id":"wf13-node-002","name":"Get SF OAuth Token","type":"n8n-nodes-base.httpRequest","position":[440,400],"typeVersion":4.2},{"parameters":{"jsCode":"// Get or initialize lastRunAt from static data\nconst staticData = $getWorkflowStaticData('global');\nconst token = $('Get SF OAuth Token').first().json.access_token;\n\nconst now = new Date();\nconst twentyMinAgo = new Date(now.getTime() - 20 * 60 * 1000).toISOString();\nconst lastRunAt = staticData.lastRunAt || twentyMinAgo;\nconst lastRunPardot = lastRunAt.replace(/\\.\\d{3}Z$/, 'Z');\nstaticData.lastRunAt = now.toISOString();\n\nreturn [{ json: { token, lastRunAt: lastRunPardot, now: now.toISOString() } }];"},"id":"wf13-node-003","name":"Get Last Run Time","type":"n8n-nodes-base.code","position":[680,400],"typeVersion":2},{"parameters":{"method":"GET","url":"=https://pi.pardot.com/api/v5/objects/lists?fields=id,name,isDeleted,isDynamic,createdAt,updatedAt&createdAfter={{ encodeURIComponent($json.lastRunAt) }}&limit=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Pardot-Business-Unit-Id","value":"0UvHp000000CavpKAC"}]}},"id":"wf13-node-004","name":"Get New Pardot Lists","type":"n8n-nodes-base.httpRequest","position":[920,260],"typeVersion":4.2},{"parameters":{"method":"GET","url":"=https://pi.pardot.com/api/v5/objects/list-memberships?fields=id,listId,prospectId,optedOut,createdAt,updatedAt&updatedAfter={{ encodeURIComponent($('Get Last Run Time').first().json.lastRunAt) }}&limit=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Last Run Time').first().json.token }}"},{"name":"Pardot-Business-Unit-Id","value":"0UvHp000000CavpKAC"}]}},"id":"wf13-node-005","name":"Get Changed Memberships","type":"n8n-nodes-base.httpRequest","position":[920,540],"typeVersion":4.2},{"parameters":{"jsCode":"const token = $('Get Last Run Time').first().json.token;\nconst newLists = ($('Get New Pardot Lists').first().json.values || []);\nconst now = new Date().toISOString();\n\nif (!newLists.length) {\n  return [{ json: { newListsFound: 0, newListIds: [], records: [] } }];\n}\n\nconst records = newLists.map(l => ({\n  attributes: { type: 'AE_List__c' },\n  AE_List_ID__c: String(l.id),\n  Name: l.name.substring(0, 80),\n  Active__c: !l.isDeleted,\n  Dynamic__c: !!l.isDynamic,\n  Last_Sync__c: now\n}));\n\nreturn [{ json: { token, newListsFound: newLists.length, newListIds: newLists.map(l => String(l.id)), records } }];"},"id":"wf13-node-006","name":"Upsert New Lists to SF","type":"n8n-nodes-base.code","position":[1160,260],"typeVersion":2},{"parameters":{"jsCode":"const changed = ($('Get Changed Memberships').first().json.values || []);\nconst listIds = [...new Set(changed.map(m => m.listId))];\nreturn [{ json: { changedListCount: changed.length, affectedListIds: listIds } }];"},"id":"wf13-node-007","name":"Extract Changed List IDs","type":"n8n-nodes-base.code","position":[1160,540],"typeVersion":2},{"parameters":{"jsCode":"// Collect new list IDs from Code node (still accessible by name)\nconst newListIds = $('Upsert New Lists to SF').first().json.newListIds || [];\nconst changedListIds = $('Extract Changed List IDs').first().json.affectedListIds || [];\nconst allListIds = [...new Set([...newListIds.map(String), ...changedListIds.map(String)])];\nconst token = $('Get Last Run Time').first().json.token;\n\nif (!allListIds.length) {\n  return [{ json: { skipped: true, reason: 'No list changes detected', listsToSync: 0 } }];\n}\n\nreturn allListIds.map(id => ({ json: { listId: id, token } }));"},"id":"wf13-node-008","name":"Build Lists to Sync","type":"n8n-nodes-base.code","position":[1400,400],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.skipped }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}]}},"id":"wf13-node-009","name":"Any Changes?","type":"n8n-nodes-base.if","position":[1640,400],"typeVersion":2},{"parameters":{"method":"POST","url":"https://pdm2026.app.n8n.cloud/webhook/ae-list-sync","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ list_id: $json.listId }) }}","options":{"timeout":120000}},"id":"wf13-node-010","name":"Trigger Membership Sync","type":"n8n-nodes-base.httpRequest","position":[1880,300],"typeVersion":4.2},{"parameters":{"jsCode":"const results = $input.all().map(i => i.json);\nconst totalInserted = results.reduce((s, r) => s + (r.inserted || 0), 0);\nconst totalUpdated = results.reduce((s, r) => s + (r.updated || 0), 0);\nconst totalErrors = results.reduce((s, r) => s + (r.errors || 0), 0);\nconst listsCount = results.length;\n\nconst msg = [\n  `🔄 *AE List Watcher — Sync Complete*`,\n  `${listsCount} list${listsCount !== 1 ? 's' : ''} synced | ${totalInserted} new memberships | ${totalUpdated} updated | ${totalErrors} errors`,\n  `_Run at ${new Date().toLocaleTimeString('en-US', { timeZone: 'America/New_York' })} ET_`\n].join('\\n');\n\nreturn [{ json: { message: msg } }];"},"id":"wf13-node-011","name":"Build Chat Summary","type":"n8n-nodes-base.code","position":[2120,300],"typeVersion":2},{"parameters":{"method":"POST","url":"https://chat.googleapis.com/v1/spaces/AAQA-eBqDOw/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=EiYWubwUjgBkP4KaRe3cD3rO9o9UsYcvM-8VbVpgL70","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ text: $json.message }) }}","options":{}},"id":"wf13-node-012","name":"Notify Google Chat","type":"n8n-nodes-base.httpRequest","position":[2360,300],"typeVersion":4.2},{"parameters":{"method":"PATCH","url":"https://progressivedental.my.salesforce.com/services/data/v62.0/composite/sobjects/AE_List__c/AE_List_ID__c","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ allOrNone: false, records: $json.records }) }}","options":{}},"id":"wf13-node-013","name":"Upsert New Lists HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,260]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get SF OAuth Token","type":"main","index":0}]]},"Get SF OAuth Token":{"main":[[{"node":"Get Last Run Time","type":"main","index":0}]]},"Get Last Run Time":{"main":[[{"node":"Get New Pardot Lists","type":"main","index":0},{"node":"Get Changed Memberships","type":"main","index":0}]]},"Get New Pardot Lists":{"main":[[{"node":"Upsert New Lists to SF","type":"main","index":0}]]},"Get Changed Memberships":{"main":[[{"node":"Extract Changed List IDs","type":"main","index":0}]]},"Upsert New Lists to SF":{"main":[[{"node":"Upsert New Lists HTTP","type":"main","index":0}]]},"Extract Changed List IDs":{"main":[[{"node":"Build Lists to Sync","type":"main","index":0}]]},"Build Lists to Sync":{"main":[[{"node":"Any Changes?","type":"main","index":0}]]},"Any Changes?":{"main":[[{"node":"Trigger Membership Sync","type":"main","index":0}],[]]},"Trigger Membership Sync":{"main":[[{"node":"Build Chat Summary","type":"main","index":0}]]},"Build Chat Summary":{"main":[[{"node":"Notify Google Chat","type":"main","index":0}]]},"Upsert New Lists HTTP":{"main":[[{"node":"Build Lists to Sync","type":"main","index":0}]]}},"nodeGroups":[],"authors":"William Summers","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-18T19:57:22.158Z","id":100,"workflowId":"pcWOtUpgMepSGr4z","versionId":"1c922195-091a-42a2-9c09-2f997fb4e468","event":"activated","userId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"},{"createdAt":"2026-06-18T20:04:59.464Z","id":102,"workflowId":"pcWOtUpgMepSGr4z","versionId":"1c922195-091a-42a2-9c09-2f997fb4e468","event":"activated","userId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"},{"createdAt":"2026-06-18T19:57:22.124Z","id":99,"workflowId":"pcWOtUpgMepSGr4z","versionId":"1c922195-091a-42a2-9c09-2f997fb4e468","event":"deactivated","userId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"},{"createdAt":"2026-06-18T20:04:59.425Z","id":101,"workflowId":"pcWOtUpgMepSGr4z","versionId":"1c922195-091a-42a2-9c09-2f997fb4e468","event":"deactivated","userId":"50be44c1-fa11-4110-9ec4-f5392e1bb91f"}]}}